*{
	margin: 0 auto 0 auto;
}

label{
	display: inline-block;
	width: 300px;
}

input{
	size: "40";
}

table{
	margin-left: 10px;
}

td{
	padding-left: 15px;
}

h5{
	font-size: 110%;
	padding-top: 5px;
	font-weight: bold;
	color: #FF0000;

}